.content{
    display: grid;
    justify-content: center;
  }

.card{
    
    width: 800px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
}
.cover{
    border-radius: 10px;
}
.puslapiai{
    text-align: center;
    width: 800px;

}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -127px;
    top: 400px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -410px;
    bottom: -283px;
}

.blob-1{
   position: absolute;
    left: 224px;
}