.content{

    margin: auto;
    width: 70%;
    padding: 10px;
  }
  
  

  .cover{
      border-radius: 10px;
  }
  .puslapiai{
      text-align: center;
      width: 800px;
  
  }
  
  .background{
      width: 430px;
      height: 520px;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
  }
  .background .shape{
      height: 200px;
      width: 200px;
      position: absolute;
      border-radius: 50%;
  }
  .shape:first-child{
      background: linear-gradient(
          #1845ad,
          #23a2f6
      );
      left: -127px;
      top: 400px;
  }
  .shape:last-child{
      background: linear-gradient(
          to right,
          #ff512f,
          #f09819
      );
      right: -410px;
      bottom: -283px;
  }
.cont{
    display: flex;
    justify-content: space-evenly;
}

.services{
    border-radius: 10px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr;
}


.container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%;
    margin: auto;
    justify-content: center; */
}

.image-holder{
    height: 400px;
    width: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.book{
    text-align: center;
    width: 100px;
    display: flex;
}
.checked{
    color: yellow;
}
.ratings{
    border-radius: 10px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.ratings>div{
    display: flex;
    padding: 10px;
    
    align-items: center;
   
    flex-direction: column;
}

.forma {
margin-top: 50px;
align-items: center;

}

.forma {
    margin-bottom: 2rem;
  background: rgba(255,255,255,0.3);
  padding: 2em;
  padding-bottom: 3em;
  height: 460px;
  border-radius: 20px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  
  transition: all 0.2s ease-in-out;
  
  p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  

}



.drop {
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
}
  .drop:nth-child(1) {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }
  
  .drop:nth-child(2) {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
  }
  
  .drop:nth-child(3) {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
  }
  
  .drop:nth-child(4) {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
  }
  
  .drop:nth-child(5) {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
  }

textarea{
    width: 80%;
    margin: 0;
}

.info{
  text-align: center;
  margin-top: 30px;
  width: 80%;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);

  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}