{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block "content" %}
    <div class="container barber">
    <h4>{{ barber.first_name }} {{ barber.last_name }}</h4>
    <hr/>
    <p>{{ barber.about }}</p>
    </hr>
    </br>

    </div>
</br>
{% if user.is_authenticated %}


<a class="book" href="{% url 'booking' id=barber.id %}">Uzsakyti</a>


  
{% endif %}

{% comment %}
<form action=" {% url 'my-borrowed' %}" method="post">
  {% csrf_token %} 
  {{ form }}  
  <input type="submit" value="Submit"> 
</form>
{% endcomment %}


{% if barber.rating_set.all %}  
  {% for review in barber.rating_set.all %}   
      <hr> 
      <p><strong>{{ review.reviewer }}</strong>, {{ review.date_created }} {{review.rating}}</p>
      <p>{{ review.content }}</p> 
  {% endfor %}
{% endif %}

{% endblock %}