{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block "content" %}
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'css/barber.css' %}">


    <div class="container barber">
        <div class="image-holder", style="background-image: url({{barber.cover.url}});">
      
    </div>
    <div class="info">
            <h4>{{ barber.name }} {{ barber.last_name }}</h4>
            <hr/>
            <p>{{ barber.about }}</p>
        
    </div>
    
    
    <a class="book btn btn-success" href="{% url 'booking' id=barber.id %}">Užsakyti</a>

    </div>
</br>





{% if user.is_authenticated %}





{% endif %}

<div class="services">
    {% if services %}
    {% for service in services %}
    <div class="cont">
        <p class="service_name">{{service.service_name}}</p>
        <p class="service_price">{{service.service_price}}</p>

    </div>
    {% endfor %}
    {% else %}
    <p class="service_name">Paslaugų kol kas nėra</p>
    {% endif %}


</div>


<div class="ratings">
    <h4>Vidutinis vartotojų įvertinimas</h4>
    
    <div>
        <div>
          {% for star in stars %}
        {% if barber.calculate_average_rating >= star %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
    {% endfor %}  
        </div>
        
    <p>{{barber.calculate_average_rating|round_to_two}}</p>
    </div>
    
</div>


{% comment %}
<form action=" {% url 'my-borrowed' %}" method="post">
  {% csrf_token %} 
  {{ form }}  
  <input type="submit" value="Submit"> 
</form>
{% endcomment %}


{% if barber.rating_set.all %}
    {% for review in barber.rating_set.all %}
        <hr>
        <div class="ratin">
        <p><strong>{{ review.reviewer }}</strong>, {{ review.date_created }}</p>

            {% for star in stars %}
        {% if review.rating|convert_int >= star %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
            {% endif %}
        {% endfor %}




           
        </div>
        <p>{{ review.content }}</p>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
<div class="forma">




<h4>Palikite atsiliepimą:</h4>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}</br>
      <input class="btn btn-primary" type="submit" value="Išsaugoti">
    </form>  
    {% endif %}
<div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
  </div>

</div>
<style>

  .mapholder{
      height: 500px;
      width: 100%;
  }
  
  #map {
      height: 100%;
    }
  
  
  </style>
  <script> 
      let map;
      function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 54.6872, lng: 25.279 },
          zoom: 8,
      });
      }
      window.initMap = initMap;
  
  </script>
  
  <script>
      function initMap() {
          map = new google.maps.Map(document.getElementById("map"), {
              center: { lat: 54.6872, lng: 25.279 },
              zoom: 10,
          });
  
          $.ajax({
              url: "{% url 'mydata' barber.id%}",
              method: 'GET',
              success: function (data) {
                  console.log(data);
                  addMarkers(data);
              }
          });
      }
  
      function addMarkers(data) {
          const geocoder = new google.maps.Geocoder();
          const markers = [];
  
          data.forEach((item) => {
              geocoder.geocode({ address: item.adress+','+item.city }, function (results, status) {
                  if (status === google.maps.GeocoderStatus.OK) {
                      const marker = new google.maps.Marker({
                          position: results[0].geometry.location,
                          map: map,
                      });
                      markers.push(marker);
                  } else {
                      console.error('Geocode was not successful for the following reason: ' + status);
                  }
              });
          });
      }
  
      window.initMap = initMap;
  
       
  </script>
  
  
  {% load static %}
  
  
  
  
  
  <div class="pageholder">
      <div class="titleholder"> 
          <div class="title"><i class="fas fa-compass mr-2"></i> Google Maps #4: Markers on a map </div>
          <a href="{% url 'index'%}" class="title2 mr-4"><i class="fas fa-home mr-2"></i> Back to home </a>
      </div>
  
      <div class="linkholder">
          <div class="mapholder">
              <div id="map"></div>
                      <script
                      src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
                      defer
                      ></script>
          </div>
      </div>
  </div>
  
  </div>

{% endblock %}