{% extends "base.html" %}

{% block "content" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/barbers.css' %}">

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
    <img class="blob-1" src="{% static 'assets/blob-1.gif'%}" alt="">
</div>

<div class="cards">
{% for barber in barbers %}
            <div class="card">
                {% if barber.cover %}
                <img class="cover" src="{{ barber.cover.url }}" class="card-img-top" alt="...">
                {% else %}
                <img src="{% static 'assets/no-image.png' %}" class="card-img-top">
                {% endif %}
                <a class="name" href="{% url 'barber' barber.id %}">{{ barber.name }} {{ barber.last_name }}</a>
                <p class="rating">{{ barber.calculate_average_rating|default:0 }}/5</p>
    
            </div>
            
{% endfor %}
</div>
<div class="puslapiai">
    <nav>
        {% if barbers.has_other_pages %}
            <ul class="">
                {% for barber in barbers.paginator.page_range %}
                    {% if barbers.number == barber %}
                        <li class="">
                            <a class="">{{ barber }}</a>
                        </li>
                    {% else %}
                        <li class="">
                            <a class="" href="?page={{ barber }}">{{ barber }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}