
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@400;600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/918b76cfb2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        

        <nav class="navigacija">
            <div class="logo-container">
                {% load static %}
              <a href="{%url 'index'%}"><img id="logo" src="{% static 'assets/logo.png' %}"  alt=""></a>
              
            </div>
            <ul class="nav-links">
                <div class="always">
                    <li class="nav-link" >
                        <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
                        <input class="search" name="query" class="form-control" type="text" placeholder="Paieška">
                        </form>
                    </li>
                    <li><a class="nav-link" href="{%url 'index'%}">Home</a></li>
                    <li><a class="nav-link" href="{%url 'barbers'%}">Barbers</a></li>
                    
                </div>
                <div class="logged">

                
                {% if user.is_authenticated %}
                <li><a class="nav-link" href=""><i class="fa-solid fa-message"></i></a></li>
                {{ user.get_username }}
                <li><a class="nav-link profile"><img id="profile" src="{% static 'assets/no-image.png' %}" alt=""> </a>
                    <div class="options" id="options">
                        <ul>
                            <li>History</li>
                            <li>hello</li>
                            <li>Settings</li>
                             <li><a class="nav-link" href="{% url 'logout'%}?next=/">Atsijungti</a></li>

                        </ul>
                    </div>
                </li>
            
            
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Prisijungti</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Registruotis</a></li>
          {% endif %}
        </div>
                
            </ul>
        </nav>
    </header>



    <main>
        <div class="content">{% block "content" %}{% endblock %}</div>
    </main>
    <footer>
        All rights reserved
    </footer>
    <script src="{% static 'js/base.js'%}" defer></script>
</body>
</html>