
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@400;600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/918b76cfb2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        

        <nav class="navigacija">
            <div class="logo-container">
                {% load static %}
                {% load user_tags %}
              <a href="{%url 'index'%}"><img id="logo" src="{% static 'assets/logo.png' %}"  alt=""></a>
              
            </div>
            <ul class="nav-links">
                <div class="always">
                    <li class="nav-link" >
                        <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
                        <input class="search" name="query" class="form-control" type="text" placeholder="Paieška">
                        </form>
                    </li>
                    
                    <li><a class="nav-link" href="{%url 'barbers'%}">Kirpėjai</a></li>
                    <li><a class="nav-link" href="{%url 'explore'%}">Atrask</a></li>

                    
                </div>
                <div class="logged">

                
                {% if user.is_authenticated %}
                <li><a class="nav-link" href=" {% url 'testukas' %}"><i class="fa-solid fa-message"></i></a></li>
                <li><a class="nav-link" href="{% url 'profile' %}">{{ user.get_username }}</a></li>
                
                <li><a class="nav-link profile"><img id="profile" src="{{ user.profile.photo.url }}" alt=""> </a>

                    <div class="options" id="options">
                        <ul>
                            {% if user|in_kirpejai_group %}
                            <li><a class="nav-link" href="{% url 'barber' user.barber.id %}">Kirpėjo profilis</a></li>
                            
                            <li><a class="nav-link" href="{% url 'barber-orders' %}">Užsakymai</a></li>
                            {% else %}
                            <li><a class="nav-link" href="{% url 'my-borrowed' %}">Užsakymų istorija</a></li>
                            
                            {% endif %}
                            
                            {% if user|in_kirpejai_group %}
                            <li><a class="nav-link" href="{% url 'my_posts' user.id %}">Mano įrašai</a></li>
                            {% endif %}
                            <li><a class="nav-link" href="{% url 'settings' %}">Nustatymai</a></li>
                            <li><a class="nav-link" href="">DUK</a></li>

                             <li><a class="nav-link" href="{% url 'logout'%}?next=/">Atsijungti</a></li>

                        </ul>
                    </div>
                </li>
            
            
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Prisijungti</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registruotis</a></li>
          {% endif %}
        </div>
                
            </ul>
        </nav>
    </header>



    <main>
        <div class="content">{% block "content" %}
            {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'info' %}success{% endif %}" role="alert">
                    {{ message }}
            </div>
        {% endfor %}
    {% endif %}

            
            {% endblock %}</div>
    </main>
    <footer class="footer">
        All rights reserved
    </footer>
    <script src="{% static 'js/base.js'%}" defer></script>
    <script>

    setInterval(getNotification, 1000)

function getNotification(){
    let url = '{% url "notification"  %}'

    fetch(url)
        .then(res => res.json())
        .then(data => {
            console.log(data); // Check the array of notification counts
            let chatNotificationButton = document.getElementsByClassName('msg')
            
            for(let i=0;i<data.length;i++){
                if (chatNotificationButton[i] !== 0){
                    let el = document.querySelector('.fa-message')
                    el.classList.add('notif')
                } else {
                    let el = document.querySelector('.fa-message')
                    el.classList.remove('notif')
                
            }
        } 
        })
        .catch(error => {
            
        });
}
    </script>
</body>
</html>