{% extends 'base.html' %}
{% load static %}

{% block "content" %}

<link rel="stylesheet" href="{% static 'css/my_posts.css' %}">


<div class="background">
<img class="blob" src="{% static 'assets/blob-1.gif'%}" alt="">

    <div class="shape"></div>
    <div class="shape"></div>
</div>


<div class="crea">
    <a class="book btn btn-success" href="{% url 'create_post' user.id %}">Sukurti</a>
</div>
<div class="posts">



    {% for post in posts %}
        <div class="post">
            <div class="info">
                <h2>{{post.hero}}</h2>
                <p>{{ post.content }}</p>
                <img src="{{post.photo.url}}" alt="">
            </div>
            <div class="buttons">
                <a class="edit" href="{% url 'update_post' id=post.id %}">Edit Post</a>
                <a class="delete" href="{% url 'delete_post' id=post.id %}">Delete</a>
            </div>
        </div>


    {% endfor %}
</div>

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            {% for num in posts.paginator.page_range %}
                {% if posts.number == num %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}