{% extends "base.html" %}
{% load static %}
{% block "content" %}

<link rel="stylesheet" href="{% static 'css/user_order.css' %}">


<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<h1>Užsakymas</h1>
    <div class="card">


    
        <ul>
        <img class="" src="{{order.barber.cover.url}}">
        <li>Vardas: <a href="{% url 'barber' id=order.barber.id %}">{{order.barber.name}}</a></li>
        <li>Pavardė: {{order.barber.last_name}}</li>
        <li>Paslauga: {{order.service.service_name}}</li>
        <li>Laikas: {{order.day}}, {{order.time}}</li>
        <li>Kaina: {{order.service.service_price}}&euro;</li>
        <li>Adresas: {{order.barber.adress}}</li>

        
        <br/>
      </li>
    </ul>
  </div>
{% endblock %}